<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.ivsserver.mapper.purchaseInfoMapper">

<!--    <insert id="addPurchase" parameterType="com.example.ivsserver.entity.purchase">-->
<!--        insert into purchase(purchase_contract_id, goods_id, quantity, unit_price)-->
<!--            value (#{purchase_contract_id},#{goods_id},#{quantity},#{unit_price})-->
<!--    </insert>-->

<!--    <delete id="deletePurchase" parameterType="String">-->
<!--        delete from purchase where purchase_contract_id = #{purchase_contract_id}-->
<!--    </delete>-->

<!--    <update id="updatePurchase" parameterType="com.example.ivsserver.entity.purchase">-->
<!--        update purchase-->
<!--        set goods_id = #{goods_id},-->
<!--            quantity = #{quantity},-->
<!--            unit_price = #{unit_price}-->
<!--        where purchase_contract_id = #{purchase_contract_id}-->
<!--    </update>-->

<!--    <select id="selectPurchase" parameterType="String" resultType="com.example.ivsserver.entity.purchase">-->
<!--        select *-->
<!--        from purchase-->
<!--        where purchase_contract_id = #{purchase_contract_id}-->
<!--    </select>-->

    <select id="getInfoPurchase"  resultType="com.example.ivsserver.entity.purchaseInfo">
        select purchase_order.purchase_contract_id,purchase_order.delivery_date,supplier.supplier_name,operator.operator_name
               from purchase_order,operator,supplier
                 where (purchase_order.operator_id = operator.operator_id and
                       purchase_order.supplier_id = supplier.supplier_id )

    </select>

    <select id="getInfoPurchaseList"  parameterType="String" resultType="com.example.ivsserver.entity.purchaseInfoList">
        select goods_name,count,unit_price
        from purchase,warehouse
        where purchase.purchase_contract_id = #{purchase_contract_id} AND
            purchase.goods_id =  warehouse.goods_id

    </select>

</mapper>