<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.ivsserver.mapper.salesMapper">

    <insert id="addSales" parameterType="com.example.ivsserver.entity.sales">
        insert into sales(sales_contract_id, goods_id, quantity, unit_price)
            value (#{sales_contract_id},#{goods_id},#{quantity},#{unit_price})
    </insert>

    <delete id="deleteSales" parameterType="String">
        delete from sales where sales_contract_id = #{sales_contract_id}
    </delete>

    <update id="updateSales" parameterType="com.example.ivsserver.entity.sales">
        update sales
        set goods_id = #{goods_id},
            quantity = #{quantity},
            unit_price = #{unit_price}
        where sales_contract_id = #{sales_contract_id}
    </update>

    <select id="selectSales" parameterType="String" resultType="com.example.ivsserver.entity.sales">
        select *
        from sales
        where sales_contract_id = #{sales_contract_id}
    </select>

<!--    <select id="getInfoSales"  resultType="com.example.ivsserver.entity.sales">-->
<!--        select * from sales-->
<!--    </select>-->

</mapper>